<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container px-4 bg-blue">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 mt-2">
        <nav class="navbar navbar-expand-lg .bg-primary.bg-gradient">
          <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)"> <img title="tweet me" src="../assets/tweet-me-logo.png" width="100px" />  </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-none">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item d-none">
                  <a class="nav-link" href="#">Link</a>
                </li>
              </ul>
              <div>
                <button class="btn btn-sm btn-outline-success mx-2">Login</button>
                <button class="btn btn-sm btn-outline-primary">Register</button>
              </div>
              <div class="d-none">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 text-center border rounded">
        <div class="w-100 mt-2 d-flex justify-content-end p-1"><i class="bi bi-arrows-fullscreen"></i></div>
        <textarea class="box-tweet border-0 w-100 mt-1 fs-4 p-2" placeholder="Que estás pensando hoy?"></textarea>
        <hr class="w-100">
        <div class="row mb-3">
          <div class="col-12 col-md-6 ">
            <div class="d-flex justify-content-start p-1">
              100/100
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex justify-content-end p-1">
              <button id="publicar" class="btn btn-sm btn-primary  ">Publicar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    
    <div class="row mt-2">
      <div class="col-12 col-md-6 offset-md-3 px-0 py-2 ">
        <label for="" class="btn btn-primary btn-sm">Descubre</label>
        <label for="" class="mx-1 btn btn-outline-primary btn-sm">Mis tweets</label>
        <label for="" class="mx-1 btn btn-outline-primary btn-sm">Mis likes</label>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-md-6 offset-md-3 px-0">
        <div class="card">
          <div class="card-header d-none">
          </div>
          <div class="card-body">
            <p class="card-text pb-1">Probando nuevo tweet.</p>
            <div>
              <a href="#" class="btn btn-outline-primary"><i class="bi bi-star-fill"></i> <span></span> </a>
              <a href="#" class="btn btn-outline-primary mx-1"><i class="bi bi-arrow-return-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-md-6 offset-md-3 px-0">
        <div class="card">
          <div class="card-header d-none">
          </div>
          <div class="card-body">
            <p class="card-text pb-1">Probando nuevo tweet.</p>
            <div>
              <a href="#" class="btn btn-outline-primary"><i class="bi bi-star-fill"></i> <span></span> </a>
              <a href="#" class="btn btn-outline-primary mx-1"><i class="bi bi-arrow-return-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-md-6 offset-md-3 px-0">
        <div class="card">
          <div class="card-header d-none">
          </div>
          <div class="card-body">
            <p class="card-text pb-1">Probando nuevo tweet.</p>
            <div>
              <a href="#" class="btn btn-outline-primary"><i class="bi bi-star-fill"></i> <span></span> </a>
              <a href="#" class="btn btn-outline-primary mx-1"><i class="bi bi-arrow-return-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>