<div class="container-fluid bg-primary">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 offset-md-1">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)"> <img title="tweet me" src="../assets/tweet-me-logo-white.png"
              width="100px" /> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item d-none">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item d-none">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
            <div>
              <button class="btn btn-sm btn-default mx-2 text-white">Login</button>
              <button class="btn btn-sm btn-primary ">Register</button>
            </div>
            <div class="d-none">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

</div>

<div class="container">

  <div class="row mt-4 justify-content-center">
    <div class="col-xs-12 col-sm-2 col-lg-2">
    
      <div class="card profile-card-2 pt-2 border-primary border-top border-3">
        <div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile"/>
            </div>
            <h5 class="card-title pt-4">Landon Hunt</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="icon-block"><a href="#"><i class="bi bi-linkedin"></i></a><a href="#"> <i class="bi bi-github"></i></a></div>
        </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <app-add-tweet />
      <div class="clearfix"></div>
      <div class="row mt-4">
        <div class="d-flex">
          <label for="" class="btn btn-primary btn-sm">Descubre</label>
          <label for="" class="mx-1 btn btn-outline-primary btn-sm">Mis tweets</label>
          <label for="" class="mx-1 btn btn-outline-primary btn-sm">Mis likes</label>
        </div>
      </div>
      <app-show-tweet />
    </div>
    
  </div>
  



  
</div>