/* You can add global styles to this file, and also import other style files */

:root {
--federal-blue: #03045eff;
--marian-blue: #023e8aff;
--honolulu-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-cyan: #00b4d8ff;
--vivid-sky-blue: #48cae4ff;
--non-photo-blue: #90e0efff;
--non-photo-blue-2: #ade8f4ff;
--light-cyan: #caf0f8ff;
}

.box-tweet{
    resize: none;
    height:auto;
    min-height:50px;
}
.box-tweet:focus{
    border: none;
    border-color: none !important;
    outline: none;
}

.nav-container{
    background-color: var(--pacific-cyan);
}
