/* You can add global styles to this file, and also import other style files */

:root {
--federal-blue: #03045eff;
--marian-blue: #023e8aff;
--honolulu-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-cyan: #00b4d8ff;
--vivid-sky-blue: #48cae4ff;
--non-photo-blue: #90e0efff;
--non-photo-blue-2: #ade8f4ff;
--light-cyan: #caf0f8ff;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #48cae4ff !important;
    --bs-btn-border-color: #48cae4ff !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0096c7ff !important;
    --bs-btn-hover-border-color: #0077b6ff !important;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0077b6ff !important;
    --bs-btn-active-border-color: #0096c7ff !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #48cae4ff !important;
    --bs-btn-disabled-border-color: #48cae4ff !important;
}


.box-tweet{
    resize: none;
    height:auto;
    min-height:50px;
}
.box-tweet:focus{
    border: none;
    border-color: none !important;
    outline: none;
}

.nav-container{
    background-color: var(--pacific-cyan);
}
